body {
  background-color: rgb(181, 208, 236);
  line-height: 20px;
  text-align: center;
  margin: 0 22%;
  color: #24363a;
  font-family: "PT Sans", sans-serif;
  margin-bottom: 13px;
}

h1 {
  font-family: "Rampart One", cursive;
  text-shadow: 5px 5px 5px rgb(194, 224, 228);
  font-size: 3em;
  letter-spacing: 3px;
  line-height: 1.2;
  text-align: center;
}

/*lists*/
ul {
  list-style: square;
}

#inventions li {
  font-weight: bold;
  letter-spacing: 1px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
}

li p {
  font-weight: normal;
  letter-spacing: normal;
  text-indent: 25px;
  padding: 10px;
  text-transform: none;
}

#inventions,
#things-named-after-tesla {
  text-align: left;
}

#things-named-after-tesla li {
  text-align: left;
  font-size: 16px;
  font-weight: bold;
}

div {
  margin-top: 42px;
}

/*image and blockquote*/
img {
  border-radius: 50%;
  border: rgb(138, 75, 12) solid 3px;
  height: 200px;
  margin-right: 30px;
  margin-top: 20px;
}

blockquote {
  color: navy;
  font-size: 25px;
  font-style: italic;
  font-family: "Playfair Display", Georgia, sans-serif;
  line-height: 1.5;
}

.about {
  background: rgb(170 172 203 / 64%);
  padding: 15px;
  margin-bottom: 1.5em;
  border: 1px solid;
  padding: 10px;
}

.end {
  background-color: rgb(167 152 138 / 18%);
  padding: 10px;
}
